*{
    padding:0;
    margin:0;
}

@media (min-width: 576px){
.navbar-expand-sm .navbar-collapse {
    display:none !important;
    flex-basis: auto;
}
}


#navBar{
    background-color: blueviolet;
    color:white;
} 


.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: white;
    --bs-nav-link-disabled-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar{
    --bs-navbar-toggler-icon-bg:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28999, 999, 999, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
a.navbar-brand{
    color: white;
}

.collapse ul li.nav-item a.nav-link{
    color:white;
}

.navbar-toggler{
    color:white;
}

li{
    text-align: center;
}